.chat-area {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 80vh;
  padding: 16px;
}

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 992px) {
  .chat-area {
    width: 80vw;
    height: 85vh;
  }
}
