.entity-detail-box {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 6px 20px rgb(0 0 0 / 10%);
  padding: 16px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  flex-direction: column;
  animation: slide-in 0.3s ease-out;

  // Responsivo para celulares
  @media (max-width: 600px) {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 35%;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -4px 8px rgb(0 0 0 / 10%), 0 -6px 20px rgb(0 0 0 / 10%);
    animation: slide-up 0.3s ease-out;

    .entity-detail-content {
      display: flex;
      overflow-y: auto;
      align-items: flex-start;
      gap: 16px;
    }
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.entity-image-box {
  margin: 8px 0;
}

.entity-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 4px;
}

.entity-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  h6 {
    font-weight: 600;
  }
}

.entity-detail-content {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 1.05em;
  display: flex;
  flex-direction: column;
  gap: 10px;

  strong {
    font-weight: 600;
  }
}

.entity-detail-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
