.code-form {
  position: relative;
  width: 100%;
  margin: 0.5rem 0;

  .input {
    width: 100%;
    padding: 1rem;
    padding-right: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-sizing: border-box;
  }

  .btn {
    position: absolute;
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.1rem;
  }
}
