.checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;
    z-index: 2;
  }

  .checkmark {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #e2e8f0;
    border-radius: 4px;
    transition: background 0.2s ease;
    z-index: 1;
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  input:checked + .checkmark {
    background-color: #131518 !important;
  }

  input:checked + .checkmark:after {
    display: block;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
