.checkbox {
  position: relative;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 1px;
  }

  .checkmark {
    width: 20px;
    height: 20px;
    background-color: #e2e8f0;
    border-radius: 4px;
    display: inline-block;
    transition: 0.2s ease;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }

  input:checked + .checkmark {
    background-color: #131518;
  }
s
  input:checked + .checkmark:after {
    display: block;
    position: absolute;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
