$link-color: #000000;

.password-recovery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;

  .password-recovery-form-title {
    margin-bottom: 1rem;
  }

  .password-recovery-form-input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .password-recovery-form-button {
    margin-top: 1rem;
  }

  .password-recovery-form-error {
    margin-top: 1rem;
  }

  .password-recovery-form-login-link {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: $link-color;
}
}
