.user-form {
  max-width: 700px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'Inter', sans-serif;

  .user-form-title {
    text-align: start;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .user-form-grid {
    display: flex;
    gap: 2rem;

    .left-column,
    .right-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .user-form-button {
    height: 50px;
    font-weight: 600;
  }

  .user-form-error {
    margin-top: 1rem;
    text-align: center;
  }

  .MuiTextField-root {
    background-color: #fafafa;
    border-radius: 8px;

    input:focus,
    select:focus {
      background-color: #fff;
    }
  }
}
