$primary-color: #000000;

.chamada-template {
  max-width: 800px;
  padding: 1.5rem;

  h2 {
    color: $primary-color;
    font-weight: 600;
  }

  .save-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
