$link-color: #000000;

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;

  .login-form-title {
    margin-bottom: 1rem;
  }

  .login-form-input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .login-form-button {
    margin-top: 1rem;
  }

  .login-form-error {
    margin-top: 1rem;
  }
}

.login-form-forgot-password {
  margin-top: 0.3rem;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: $link-color;
}
